DATABASE_URL=sqlite+aiosqlite:///./weather.db
JWT_SECRET=gere-uma-chave-secreta-longa-e-aleatoria
JWT_ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=15
REFRESH_TOKEN_EXPIRE_DAYS=7

# OpenWeather
OPENWEATHER_API_KEY=chave_openweather_aqui
OPENWEATHER_LAT=-15.7797
OPENWEATHER_LON=-47.9297
OPENWEATHER_UNITS=metric
OPENWEATHER_LANG=pt_br

# OpenAI
OPENAI_API_KEY=coloque_sua_chave_aqui
OPENAI_MODEL=gpt-4.1-mini

# Celery / RabbitMQ
CELERY_BROKER_URL=amqp://guest:guest@rabbitmq:5672//